.player {
  background-color: $color-secondary;
  bottom: 0;
  left: 50%;
  position: fixed;
  transform: translateX(-50%);
  width: 80%;

  &__progress-container {
    background-color: $color-grey;
    height: 1rem;
    width: 100%;
  }

  &__progress-bar {
    background-color: $color-primary;
    height: inherit;
    width: 0;
  }

  &__controls-container {
    align-items: center;
    display: flex;
    justify-content: space-around;
  }

  &__playback-rate-controls {
    max-height: 0;
    transition: max-height 0.2s ease;
  }

  &__playback-rate-btn {
    background-color: $color-primary;
    border: none;
    color: #fff;
    height: 4rem;
    min-width: 5.5rem;
  }
}
