.player {
  background-color: $color-secondary;
  bottom: 0;
  left: 50%;
  position: fixed;
  transform: translateX(-50%);
  width: 80%;

  &__progress-container {
    background-color: $color-grey;
    height: 1rem;
    width: 100%;
  }

  &__progress-bar {
    background-color: $color-primary;
    height: inherit;
    width: 0;
  }

  &__controls-container {
    align-items: center;
    display: flex;
    justify-content: space-around;
  }

  &__playback-rate-controls {
    bottom: 100%;
    display: flex;
    position: absolute;
    flex-direction: column-reverse;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease;
    z-index: -1;
  }

  &__playback-rate-btn {
    background-color: $color-primary;
    border: none;
    color: #fff;
    height: 4rem;
    min-width: 5.5rem;

    &--active {
      background-color: lighten($color-primary, 10%);
    }

    &--primary {
      // this class exists to prevent the primary button's colour being changed by the JavaScript
      @extend .player__playback-rate-btn--active;
    }
  }

  &__volume-slider {
    transform: translateY(20%);
  }
}
