.player {
  background-color: $color-primary;
  bottom: 0;
  color: #fff;
  left: 50%;
  position: fixed;
  transform: translateX(-50%);
  width: 80%;

  &__progress-container {
    background-color: $color-grey;
    height: 1rem;
    width: 100%;

    &:hover {
      cursor: pointer;
    }
  }

  &__progress-bar {
    background-color: $color-secondary;
    height: inherit;
    width: 0;
  }

  &__controls-container {
    align-items: center;
    display: flex;
    justify-content: space-around;
  }

  &__playback-rate-controls {
    bottom: 100%;
    display: flex;
    position: absolute;
    flex-direction: column-reverse;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    z-index: -1;
  }

  &__playback-rate-btn {
    background-color: $color-secondary;
    border: none;
    color: #fff;
    height: 4rem;
    min-width: 5.5rem;

    &--active {
      background-color: lighten($color-secondary, 10%);
    }

    &--primary {
      // this class exists to prevent the primary button's colour being changed by the JavaScript
      @extend .player__playback-rate-btn--active;
    }
  }

  &__volume-slider {
    background-color: transparent;
    transform: translateY(20%);
    -webkit-appearance: none;

    /* Apply styles to all the different pseudoclasses for Chrome, Firefox and Edge */

    // tracks
    &::-webkit-slider-runnable-track {
      @include track;
    }
    &::-moz-range-track {
      @include track;
    }
    &::-ms-track {
      @include track;
    }

    // thumbs
    &::-webkit-slider-thumb {
      margin-top: -0.5rem;
      @include thumb;
    }

    &::-moz-range-thumb {
      @include thumb;
    }

    &::-ms-thumb {
      @include thumb;
    }
  }
}
